# Amazon MQ (RabbitMQ) — endpoint entregado por Integrante 1
RABBITMQ_URL=amqps://app_user:CHANGE_ME@b-xxxxxxxx.mq.us-east-1.amazonaws.com:5671

# RabbitMQ Management API (para stats del dashboard)
RABBITMQ_HTTP_API=https://b-xxxxxxxx.mq.us-east-1.amazonaws.com:15671
RABBITMQ_USER=app_user
RABBITMQ_PASS=CHANGE_ME

# Apache Kafka — IP privada del ec2-kafka-node
KAFKA_BROKER=10.0.1.x:9092
